* {
    box-sizing: border-box;
  }

body {
    background: #85C2EE;
    margin: 0;
    padding: 0;
}

.home-container {
    height: 100vh;
    width: 100vw;
    background: #85C2EE;
}

.header {
    display: flex;
    justify-content: center;

}

.back-arrow {
    align-self: self-start;
}

.logo {
    margin-top: 23vh;
    max-width: 600vw;
    max-height: 600vw;
}

.header-login .logo,
.header-login .back-arrow {
    margin: 10px;
}

.header-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/*Only for login and register*/

.home-content {
    margin-left: 20%;
    margin-right: 20%;
    background: #85C2EE;
    margin-top: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.home-content .mess1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2.5vh;
}

.home-content .mess2 {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 4vw;
    margin-top: 80px;
}

/*Login Form*/
.login-form,
.signup-form {
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 38px;
    margin-top: 5vh;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    background: #FFFFFF;
}

.signup-title {
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 0px;
}

.signup-form {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 3vh;
    gap: 18px;
}

.nameU,
.user,
.emaildiv,
.password,
.passconfirm {
    width: 250px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 3.5vw;
    display: flex;
    flex-direction: column;
}

.nameU {
    margin-top: -10px;
    width: 250px;
    margin-left: 10%;
    margin-right: 10%;
}

.nameU input,
.user input,
.emaildiv input,
.password input,
.passconfirm input {
    border-width: 0px;
    height: 20px;
    background-color: #e4e4e4;
}

.nameU h4,
.name input,
.user h4,
.user input,
.password h4,
.password input,
.passconfirm h4,
.passconfirm input {
    margin: 5px;
}

.emaildiv h4,
.emaildiv input {
    margin: 5px;
}

.googleBtn {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 180px;
    height: 35px;
    margin-top: 10px;
    border-radius: 8px;
    border-width: 1px;
    cursor: pointer;
}

.logo-google {
    max-width: 26px;
    max-height: 26px;
}

.login-btn {
 /*   padding: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 3.5vw; */
    color: #2F4554;
    background-color: #FFFFFF;
   /* width: 180px;
    max-width: 40vw;
    height: 35px;
    max-height: 35px;
    border-radius: 8px;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 0px; */
}

.newpost-upload-btn,
.loginBtn,
.signupBtn {
    color: #FFFFFF;
    background-color: #85C2EE;
}

.buttons {
    border-color: aliceblue;
    align-self: center;
    width: 180px;
    height: 35px;
    border-radius: 8px;
    border-width: 1px;
    cursor: pointer;
    font-size: 15px;
    padding: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}


.newpost-upload-btn {
    margin-top: 15px;
}

.sign-upDiv {
    font-family: 'Open Sans', sans-serif;
    font-size: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login-Div, .signUp-Btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/*Alert Messages*/
.message-container {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 15px;
    width:70%;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #ffffff;
    color: red;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/* Feed */

.search-bar {
    border-radius: 8px;
    border-width: 0px;
    background-color: #e4e4e4;
    height: 20px;
    padding: 3px;
}

.main-container {
    background-color: #FFFFFF;
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: space-between;
}

.upperMenu {
    padding-top: 30px;
    background-color: #85C2EE;
    display: flex;
    justify-content: space-between;
    align-items:last baseline;
    height: 70px;
}

.logo-menu {
    padding-left: 5px;
    width: 150px;
}

.right-menu{
    display: flex;
    gap: 15px;
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 20px;
}

.upper-section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
}

.filter-btn {
    font-size: 12px;
    width: min-content;
    align-self: center;
    margin-bottom: 8px;
}

.feed-title {
    font-family: Arial, sans-serif;
    font-size: 17px;
    align-self: center;
    margin-bottom: 0px;
}

.post-container {
    border-top: 1px solid rgb(101, 101, 101);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto; /* Scroll */
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.author-location {
    display: flex;
    flex-direction: column;
}

.post-location {
    display: flex;
    align-items: center;
    gap: 5px;
}
.fa-map-pin {
    color: rgb(192, 4, 4);
}

.post {
    text-align: justify;
    border-top: 1px solid rgb(101, 101, 101);
    border-bottom: 1px solid rgb(101, 101, 101);
    padding: 13px;
}

.fa-trash-can, .fa-pen, .fa-heart, .likes-count{
    color: #2F4554;
}

.edit-delete-post {
    display: flex;
    gap: 13px;
}

.post-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.bottom-menu {
    border-top: 1px solid rgb(101, 101, 101);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}


/* Create Post */
.post-section {
    height: 100vh;
    width: 100vw;
    background-color: #FFFFFF;
}

.newpost-upperdiv {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(101, 101, 101);;
}

.cancel-post {
    justify-self: left;
    font-size: 20px;
    cursor: pointer;
    color: #2F4554;
}

.createpost-title {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0 auto;
}

.newpost-form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 28px;
    gap: 20px;
}

.newpost-inputs {
    padding: 5px;
    border-width: 0px;
    height: 25px;
    background-color: #e4e4e4;
    width: 100%;
}

.post-content {
    height: 120px;
}

.icons {
    font-size: 20px;
    cursor: pointer;
    color: #2F4554;
}
.icons:hover {
    color: #ffffff;
}

.newpost-headings {
    margin-bottom: 5px;
}

/* Mobil */
@media (max-width: 480px) {
    .logo {
        margin-top: 20vh;
        max-width: 60vw;
    }

}

/*Desktop*/
@media (min-width: 1024px) {
    .logo {
        width: 400px;
    }

    .signup-title {
        font-size: 28px;
    }

    .home-content .mess1 {
        font-size: 30px;
    }

    .home-content .mess2 {
        font-size: 25px;

    }

    .home-content {
        margin-top: 5%;
    }

    .login-btn,
    .loginBtn,
    .signupBtn {
        font-size: 17px;
    }

    .sign-upDiv {
        font-size: 15px;
        gap: 10px;
    }

    .nameU,
    .user,
    .emaildiv,
    .password,
    .passconfirm {
        font-size: 16px;
    }

    .login-form,
    .signup-form {
        margin-left: 700px;
        margin-right: 700px;
        gap: 40px;
    }

    .back-arrow {
        padding-left: 170px;
    }

    .header-login {
        margin-top: 20px;
    }

    .signUp-Btns {
        margin-top: -30px;
    }
}